.Appli{
    display: flex;
    flex-direction: column;
    .fab{
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: purple;
        &:hover{
            background-color: #6a1b9a;
        }
    }
}